Repository sapphiredev/shapeshift, pull requests merged in 2022-02, with the labels that each got.

#29 feat: improve how errors are returned
  README.md
  src/constraints/ArrayLength.ts
  src/constraints/ArrayLengthConstraints.ts
  src/constraints/BigIntConstraints.ts
  src/constraints/BooleanConstraints.ts
  src/constraints/DateConstraints.ts
  src/constraints/NumberConstraints.ts
  src/constraints/StringConstraints.ts
  src/constraints/type-exports.ts
  src/index.ts
  src/lib/errors/BaseError.ts
  src/lib/errors/CombinedError.ts
  src/lib/errors/ConstraintError.ts
  src/lib/errors/ExpectedValidationError.ts
  src/lib/errors/MissingPropertyError.ts
  src/lib/errors/UnknownPropertyError.ts
  src/lib/errors/ValidationError.ts
  src/type-exports.ts
  src/validators/ArrayValidator.ts
  src/validators/BaseValidator.ts
  src/validators/DefaultValidator.ts
  src/validators/LiteralValidator.ts
  src/validators/MapValidator.ts
  src/validators/ObjectValidator.ts
  src/validators/RecordValidator.ts
  src/validators/SetValidator.ts
  src/validators/StringValidator.ts
  src/validators/UnionValidator.ts
  tests/lib/errors/CombinedError.test.ts
  tests/lib/errors/ConstraintError.test.ts
  tests/lib/errors/ExpectedValidationError.test.ts
  tests/lib/errors/MissingPropertyError.test.ts
  tests/lib/errors/UnknownPropertyError.test.ts
  tests/lib/errors/ValidationError.test.ts
  tests/validators/map.test.ts
  tests/validators/number.test.ts
  tests/validators/object.test.ts
  tests/validators/record.test.ts
  tests/validators/string.test.ts
Labels: Meta: Error Handling, Meta: Refactor

#35 feat: display the property that errored
  src/index.ts
  src/lib/errors/CombinedPropertyError.ts
  src/validators/ArrayValidator.ts
  src/validators/BaseValidator.ts
  src/validators/DefaultValidator.ts
  src/validators/MapValidator.ts
  src/validators/ObjectValidator.ts
  src/validators/RecordValidator.ts
  tests/lib/errors/CombinedPropertyError.test.ts
Labels: Meta: Error Handling, Meta: Feature

#41 fix: fix union type and add test
  README.md
  src/lib/Shapes.ts
  tests/validators/union.test.ts
Labels: SEM: Patch
